.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.description {
    margin: 20px;
    line-height: 1.4;
    text-align: center;
}

.passwordContainer {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0 20px 20px;
    background-color: #fff;
    border-radius: 7px;
}

.password {
    font-size: 24px;
}

.buttonsContainer {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px 20px;
}

.settingsContainer {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 7px;
    background-color: #53bb53;
    border: 2px solid var(--primary_half-medium);
}