.themeButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 8px 10px;
}

.redTheme {
    background: linear-gradient(#ff4767, #600e22);
}

.yellowTheme {
    background: linear-gradient(#ffd924, #ab7510);
}

.greenTheme {
    background: linear-gradient(#3bf835, #145f08);
}

.blueTheme {
    background: linear-gradient(#3dc5ff, #093161);
}
