.baseButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.redTheme {
    background: linear-gradient(#f73e4d, #660b13);
}

.yellowTheme {
    background: linear-gradient(#ffd13b, #6a5b09);
}

.greenTheme {
    background: linear-gradient(#3df137, #1f5f08);
}

.blueTheme {
    background: linear-gradient(#3d94ff, #093161);
}