@import 'src/App.module';

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: #{$sizeAppPaddingHorizontal}px;
    padding-right: #{$sizeAppPaddingHorizontal}px;
    margin-bottom: 40px;
}

.description {
    margin: 40px 20px 20px;
    line-height: 1.4;
    text-align: center;
}

$createPasswordPasswordContainerPaddingSize: 20;

.passwordContainer {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    justify-content: center;
    padding: #{$createPasswordPasswordContainerPaddingSize}px;
    margin: 0 20px 35px;
    background-color: var(--white);
    border-radius: 7px;
}

$passwordFontSize: 24;

.password {
    font-size: #{$passwordFontSize}px;
    text-align: center;
    line-height: 1.4;
    word-break: break-all;
}

.buttonsContainer {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    justify-content: space-evenly;
    margin: 0 20px 35px;
}

@media (pointer:coarse) {
    .description {
        margin: 20px;
    }

    .passwordContainer {
        padding: 10px;
        margin: 0 20px 20px;
    }

    .buttonsContainer {
        margin: 0 20px 20px;
    }
}

@media (max-width: 430px) {
    .buttonsContainer {
        flex-direction: column;
        justify-content: space-evenly;
    }
}

$startScaleCreatePasswordPage: 300;

@media screen and (max-width: #{$startScaleCreatePasswordPage}px) {
    .description {
        @include adaptiveWidth("margin", $startScaleCreatePasswordPage, $minWidth, 20, 12, px, 1);
        @include adaptiveWidth("font-size", $startScaleCreatePasswordPage, $minWidth, 18, $minTextSize, px, 1);
    }

    .password {
        @include adaptiveWidth("font-size", $startScaleCreatePasswordPage, $minWidth, $passwordFontSize, $minTextSize, px, 1);
    }

    .passwordContainer {
        @include adaptiveWidth("padding", $startScaleCreatePasswordPage, $minWidth, $createPasswordPasswordContainerPaddingSize, 5, px, 1);
    }
}

@media screen and (max-width: #{$startScaleAppMarginHorizontal}px) {
    .container {
        @include adaptiveWidth("padding-left", $startScaleAppMarginHorizontal, 250, $sizeAppPaddingHorizontal, 0, px, 1);
        @include adaptiveWidth("padding-right", $startScaleAppMarginHorizontal, 250, $sizeAppPaddingHorizontal, 0, px, 1);
    }
}


