.container {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #368636;
}

.contactsContainer {
    width: 350px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}