.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    margin: 40px 0;
}

.contentContainer {
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 20px;
    margin: 15px;
    line-height: 1.35;
    text-align: justify;
    word-break: break-word;
    background-color: var(--white);
    border-radius: 7px;
}

.question {
    margin: 0 10px 10px;
    font-weight: 700;
    text-align: center;
    word-break: break-word;
}

@media (pointer:coarse) {
    .container {
        padding: 0 15px;
        margin: 20px 0;
    }

    .contentContainer {
        margin: 10px;
    }
}